$white: #ffffff;

$text-color-1: #104E5B;

$background-color-1: #F2F6F7;
$background-color-orange-1: #FDC27A;

$background-icon-color-1: #ccc2c2;

$side-cart-button-bg: 70px;

%title-h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}