@import '../../assets/scss/consts.scss';

.product_light {
  background-color: $white;

  .product__title {
    color: $text-color-light;
  }

  .product__price {
    color: $text-color-light;
  }
}

.product_dark {
  background-color: $dark;

  .product__title {
    color: $text-color-dark-2;
  }

  .product__price {
    color: $text-color-dark-2;
  }
}

.product {
  width: 130px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 20px;

  .product__imgContainer {
    position: relative;
    margin-top: 12px;
    height: 87px;

    .product__imgButton {
      padding: 0;
      border: 0;
      background: none;

      .product__img {
        width: 111px;
        height: 87px;
        border-radius: 0 15px;
      }
    }

    .product__favoritesBtn {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 30px;
      height: 30px;
      background-color: $background-color-orange-2;
      border: none;
      border-radius: 10px 0px 0px 0px;
    }
  }

  .product__title,
  .product__subtitle,
  .product__price {
    margin: 0;
  }

  .product__title {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }

  .product__subtitle {
    font-size: 8px;
    line-height: 8px;
    color: $text-color-1;
  }

  .product__price {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;

    span {
      font-size: 12px;
      line-height: 18px;
      font-weight: 300;
      color: $text-color-2;
    }
  }

  .product__addBtn {
    margin: 0 0 13px 0;
    padding: 0;
    width: 100px;
    height: 24px;
    font-size: 8px;
    line-height: 18px;
    font-weight: 600;
    color: $text-color-light;
    background-color: $background-color-orange-1;
    border: none;
    border-radius: 0 15px;
  }
}