@import '../../assets/scss/consts.scss';

.header_light {
  .header__title {
    color: $text-color-light;
  }

  .header__avatar {
    background-color: $black;
  }
}

.header_dark {
  .header__title {
    color: $text-color-dark;
  }

  .header__avatar {
    background-color: $white;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__title {
    @extend %title-h1;
  }

  .header__avatar {
    padding: 0;
    width: 54px;
    height: 54px;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 50%;
  }
}