@import '../../assets/scss/consts.scss';

.footer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, $background-color-1 13px, transparent 13px);

  .footer__buttonWrapper {
    position: absolute;
    left: calc(50% - $side-cart-button-bg/2);
    bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $side-cart-button-bg;
    height: $side-cart-button-bg;
    border-radius: 50%;
    background-color: $background-color-1;

    .footer__buttonToCart {
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      border: 2px solid $white;
      border-radius: 50%;
      background-color: $background-color-orange-1;
    }
  }

  .footer__navBar {
    display: flex;
    gap: 45px;
    width: 156.5px;
    height: 62px;
    background-color: $white;

    .footer__navBtn {
      margin-top: 16px;
      padding: 0;
      width: 22px;
      height: 22px;
      border: 0;
      background: $background-icon-color-1;
    }

    .footer__navBtn_active {
      background: $background-color-orange-1;
    }
  }

  .footer__navBar_left {
    justify-content: flex-start;
    margin-right: 62px;
    border-radius: 0 20px 0 0;

    .footer__navBtn_homeIcon {
      margin-left: 40px;
      mask: url("../../assets/images/icons/ic_home_icon.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_home_icon.svg") no-repeat center;
    }

    .footer__navBtn_bookIcon {
      mask: url("../../assets/images/icons/ic_book.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_book.svg") no-repeat center;
    }
  }

  .footer__navBar_right {
    justify-content: flex-end;
    border-radius: 20px 0 0 0;

    .footer__navBtn_bellIcon {
      mask: url("../../assets/images/icons/ic_bell.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_bell.svg") no-repeat center;
    }

    .footer__navBtn_profileIcon {
      margin-right: 40px;
      mask: url("../../assets/images/icons/ic_profile.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_profile.svg") no-repeat center;
    }
  }
}