@import '../../assets/scss/consts.scss';

.footer_light {
  @include footer-background($background-color-light);

  .footer__buttonWrapper {
    background-color: $background-color-light;

    .footer__buttonToCart {
      border: 2px solid $white;
    }
  }

  .footer__navBar {
    background-color: $white;
  }
}

.footer_dark {
  @include footer-background($background-color-dark);

  .footer__buttonWrapper {
    background-color: $background-color-dark-2;

    .footer__buttonToCart {
      border: 2px solid $dark;
    }
  }

  .footer__navBar {
    background-color: $dark;
  }
}

.footer {
  display: flex;
  justify-content: center;

  @media (max-height: 785px) {
    background: none;
  }

  .footer__buttonWrapper {
    position: absolute;
    left: calc(50% - $side-cart-button-bg/2);
    bottom: #{$footer_middle_button_position_percentage}vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $side-cart-button-bg;
    height: $side-cart-button-bg;
    border-radius: 50%;

    .footer__buttonToCart {
      width: 50px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: $background-color-orange-1;
    }
  }

  .footer__navBar {
    display: flex;
    gap: 45px;
    width: 156.5px;
    height: #{$footer_height_percentage}vh;

    .footer__navBtn {
      margin-top: #{$footer__navBtn_margin-top_percentage}vh;
      padding: 0;
      width: 22px;
      height: 22px;
      border: 0;
      background: $background-icon-color-1;
    }

    .footer__navBtn_active {
      background: $background-color-orange-1;
    }
  }

  .footer__navBar_left {
    justify-content: flex-start;
    margin-right: 62px;
    border-radius: 0 20px 0 0;

    .footer__navBtn_homeIcon {
      margin-left: 40px;
      mask: url("../../assets/images/icons/ic_home_icon.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_home_icon.svg") no-repeat center;
    }

    .footer__navBtn_bookIcon {
      mask: url("../../assets/images/icons/ic_book.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_book.svg") no-repeat center;
    }
  }

  .footer__navBar_right {
    justify-content: flex-end;
    border-radius: 20px 0 0 0;

    .footer__navBtn_bellIcon {
      mask: url("../../assets/images/icons/ic_bell.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_bell.svg") no-repeat center;
    }

    .footer__navBtn_profileIcon {
      margin-right: 40px;
      mask: url("../../assets/images/icons/ic_profile.svg") no-repeat center;
      -webkit-mask: url("../../assets/images/icons/ic_profile.svg") no-repeat center;
    }
  }
}